# Visual Studio
.vscode/
.vs/
*.exe
*.dll
*.obj
*.log
*.user
*.pdb
*.cache
*.csproj.user
*.suo

# Build results
bin/
obj/

# Other
*.tmp
*.log
*.lck
*.vscode/
/Debug
/Code/Debug/Code.tlog/CL.command.1.tlog
/Code/Debug/Code.tlog/CL.command.1.tlog
/Code/Debug/Code.tlog/Cl.items.tlog
/Code/Debug/Code.tlog/CL.read.1.tlog
/Code/Debug/Code.tlog/CL.write.1.tlog
/Code/Debug/Code.tlog/Code.lastbuildstate
/Code/Debug/Code.tlog/Lib-link.read.1.tlog
/Code/Debug/Code.tlog/Lib-link.write.1.tlog
/Code/Debug/Code.tlog/Lib.command.1.tlog
/Debug/Code.lib
/Code/Debug/Code.pch
/Launcher/Debug/Launcher.tlog/CL.command.1.tlog
/Launcher/Debug/Launcher.tlog/Cl.items.tlog
/Launcher/Debug/Launcher.tlog/CL.read.1.tlog
/Launcher/Debug/Launcher.tlog/CL.write.1.tlog
/Launcher/Debug/Launcher.tlog/CopyFile.command.1.tlog
/Launcher/Debug/Launcher.tlog/CopyFile.read.1.tlog
/Launcher/Debug/Launcher.tlog/CopyFile.write.1.tlog
/Launcher/Debug/Launcher.tlog/Launcher.lastbuildstate
/Launcher/Debug/Launcher.tlog/link.command.1.tlog
/Launcher/Debug/Launcher.tlog/link.read.1.tlog
/Launcher/Debug/Launcher.tlog/link.secondary.1.tlog
/Launcher/Debug/Launcher.tlog/link.write.1.tlog
/Launcher/Debug/Launcher.ilk
/Launcher/Debug/Launcher.pch
/Launcher/Debug/vc143.idb
/TestsCode/Debug/TestsCode.tlog/CL.command.1.tlog
/TestsCode/Debug/TestsCode.tlog/Cl.items.tlog
/TestsCode/Debug/TestsCode.tlog/CL.read.1.tlog
/TestsCode/Debug/TestsCode.tlog/CL.write.1.tlog
/TestsCode/Debug/TestsCode.tlog/link.command.1.tlog
/TestsCode/Debug/TestsCode.tlog/link.read.1.tlog
/TestsCode/Debug/TestsCode.tlog/link.secondary.1.tlog
/TestsCode/Debug/TestsCode.tlog/link.write.1.tlog
/TestsCode/Debug/TestsCode.tlog/TestsCode.lastbuildstate
/TestsCode/Debug/TestsCode.ilk
/TestsCode/Debug/TestsCode.pch
/TestsCode/Debug/vc143.idb
/Debug/Code.idb
/Debug/TestsCode.exp
/Debug/TestsCode.lib
/Launcher/Debug/Launcher.exe.recipe
/TestsCode/Debug/TestsCode.dll.recipe
/Code/Debug/cube.obj.enc
/Code/Debug/rob.obj.enc
/Code/Debug/stack.obj.enc
/Code/Debug/consolemenu.obj.enc
/Code/Debug/Code.tlog/unsuccessfulbuild
/Launcher/Debug/Launcher.tlog/unsuccessfulbuild
/Launcher/Debug/launcher.obj.enc
